{% extends "base.html" %}
{% block head %}
<!-- headを入力 -->
{% endblock %}
{% block body %}
<a href="/setting">
</a>
<div class="pickup_book" id="picupbook">
    <h2 class="headline">毎月新しい本を購入しています！</h2>
    <p class="explanation">今月新しく購入した本です！</p>
    <a href="/book?code={{ codes[0] }}"><img class="pickup_book_img" src="{{ url[0] }}" alt=""></a>
    <a href="/book?code={{ codes[1] }}"><img class="pickup_book_img" src="{{ url[1] }}" alt=""></a>
    <a href="/book?code={{ codes[2] }}"><img class="pickup_book_img" src="{{ url[2] }}" alt=""></a>
</div>
<div id="onkey_down_data_print_div">
    <h1 id="onkey_down_data_print"></h1>
</div>
<style>
    video {
        position: fixed;
        top: 0;
        left: 0;
        width: 120%;
        height: 100%;
    }

</style>
<script>
    if ("{{ session['username'] }}" === "" || "{{ session['username'] }}" === undefined) {
        top_alert("【図書管理システムへようこそ】",
            "<br>図書管理システムへのご利用ありがとうございます。システムの使い方を以下に説明しますので、ご参照ください。<br>" +
            "<a href='https://qiita.com/magimagi/items/b3225fc4b75f681cbc61#header%E3%81%AE%E5%90%84%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6' target='_blank'>こちら</a>から各ページの利用方法を確認してください。<br>" +
            "もし困ったことがあれば、<a href='https://docs.google.com/forms/d/e/1FAIpQLScmVHP9SCA_46zKfQ7qOHPI7n68Zeddyrmk9I0OVwjs2FijZQ/viewform?usp=sf_link' target='_blank'>Google Forms</a>からお問い合わせください。<br>" +
            "さらに、<a href='https://youtube.com/playlist?list=PLRwpS3a_WpxgzBBoWAzGpbFkMxaIrX7wM&si=xk9aK_WRXeVADlga' target='_blank'>YouTube</a>での使い方の動画もご用意しておりますので、こちらもご参考にしてください。<br>システムのご利用をより便利にお楽しみいただけることを願っています。<br><h4>NS高図書委員会一同<br> &copy; 2022- Slack:TM</h4>",
            10000);

    }

</script>


{% endblock %}
