{% extends "base.html" %}
{% block head %}
<!-- headを入力 -->
{% endblock %}
{% block body %}
<a href="/setting">
</a>
<div class="pickup_book" id="picupbook">
    <h2 class="headline">毎月新しい本を購入しています！</h2>
    <p class="explanation">今月新しく購入した本です！</p>
    <a href="/book?code={{ codes[0] }}"><img class="pickup_book_img" src="{{ url[0] }}" alt=""></a>
    <a href="/book?code={{ codes[1] }}"><img class="pickup_book_img" src="{{ url[1] }}" alt=""></a>
    <a href="/book?code={{ codes[2] }}"><img class="pickup_book_img" src="{{ url[2] }}" alt=""></a>
</div>
<div id="onkey_down_data_print_div">
    <h1 id="onkey_down_data_print"></h1>
</div>
<style>
    video {
        position: fixed;
        top: 0;
        left: 0;
        width: 120%;
        height: 100%;
    }

    #onkey_down_data_print_div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 16%;
        height: auto;
        background-color: #15202B;
        padding: 0;
        margin: 0;
        border-radius: 1rem;
        display: none;

    }

    #onkey_down_data_print {
        padding: 0;
        margin: 0;
        color: #FFFFFF;
        font-size: 10rem;
    }

</style>
<script>
    if ("{{ session['username'] }}" === "" || "{{ session['username'] }}" === undefined) {
        top_alert("【図書管理システムへようこそ】",
            "<br>図書管理システムへのご利用ありがとうございます。システムの使い方を以下に説明しますので、ご参照ください。<br>" +
            "<a href='https://qiita.com/magirawashili/items/0eb97adab73b62e80ad0#%E5%90%84%E3%83%9A%E3%83%BC%E3%82%B8%E3%81%AE%E5%88%A9%E7%94%A8%E6%96%B9%E6%B3%95%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6' target='_blank'>こちら</a>から各ページの利用方法を確認してください。<br>" +
            "もし困ったことがあれば、<a href='https://docs.google.com/forms/d/e/1FAIpQLScmVHP9SCA_46zKfQ7qOHPI7n68Zeddyrmk9I0OVwjs2FijZQ/viewform?usp=sf_link' target='_blank'>Google Forms</a>からお問い合わせください。<br>" +
            "さらに、<a href='https://youtube.com/playlist?list=PLRwpS3a_WpxgzBBoWAzGpbFkMxaIrX7wM&si=xk9aK_WRXeVADlga' target='_blank'>YouTube</a>での使い方の動画もご用意しておりますので、こちらもご参考にしてください。<br>システムのご利用をより便利にお楽しみいただけることを願っています。<br><h4>NS高図書委員会一同<br> &copy; 2022- Slack:TM</h4>",
            10000);

    }

    function checkCharacter(inputList, targetChar) {
        for (let i = 0; i < inputList.length; i++) {
            if (String.fromCharCode(inputList[i]) === targetChar) {
                return true;
            }
        }
        return false;
    }

    let sequence = "";
    const targetSequence = "38384040373937396665";
    // const targetSequence = "38";

    document.addEventListener("keydown", function (event) {
        let targetCharacter = String.fromCharCode(event.keyCode);
        let key_list = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65];
        if (checkCharacter(key_list, targetCharacter)) {
            document.getElementById("onkey_down_data_print_div").style.display = "block";
            let value;
            const keyMap = {38: "↑", 40: "↓", 37: "←", 39: "→", 66: "B", 65: "A"};
            value = keyMap[event.keyCode] || "";
            document.getElementById("onkey_down_data_print").innerHTML = value;
        } else {
            document.getElementById("onkey_down_data_print_div").style.display = "none";
        }
        sequence += event.keyCode;
        if (sequence.endsWith(targetSequence)) {
            sequence = "";
            document.getElementById("onkey_down_data_print_div").style.display = "none";
            doSomething();
        }
    });


    function doSomething() {
        const st = "{{ st['st'] }}";

        if (st === "False") {
            // const video = document.querySelector("myVideo");
            // top_alert("Command has been received!", "<a href='https://www.youtube.com/watch?v=Snn2gWq-3KY'>Aqua Cat [Minato Aqua/hololive]\n</a>", 5000);
            // document.getElementById("grid-container").style.display = "none";
            // const playMedia = () => {
            //     video.play();
            // };
            // const picupbook = document.getElementById("picupbook");
            // const header = document.querySelector('header');
            // const body = document.querySelector('body');
            // const myVideo = document.getElementById("myVideo");
            //
            // picupbook.style.display = "none";
            // header.style.display = 'none';
            // body.style.backgroundColor = "#183858";
            //
            // playMedia();
            //
            // setTimeout(() => {
            //     myVideo.style.display = "block";
            // }, 8650);
            //
            // video.addEventListener("ended", () => {
            //     window.location.replace("/setting");
            // });
            window.location.replace("/setting")
        } else {
            window.location.href = "/setting";
        }
    }


</script>


{% endblock %}