{% extends "base.html" %}
{% block head %}
<!-- <link rel="stylesheet" href="/Library/resources/style.css"> -->
<!-- スタイルシート読み込みなさい -->
{% endblock %}
{% block body %}
<style>
    header{
        display: none;
    }
</style>
<div class="overlay" id="overlay" style="display:none">
    <div class="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div id="reset_account">
    <h3>新しいパスワードを入力</h3>
    <form>
        <input name="password" id="password" type="password" placeholder="新しいパスワードを入力">
        <input id="password_ck" type="password" placeholder="確認のため再度入力">
        <button onclick="password_reset()" type="button">パスワードリセット</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    async function password_reset() {
        document.getElementById("overlay").style.display = 'block';
        const password_input = document.getElementById("password").value;
        const password_ck = document.getElementById("password_ck").value;
        if (password_input != password_ck) {
            top_alert("エラー","パスワードが一致しません",3000)
            return
        }
        const password = CryptoJS.SHA512(password_input).toString();
        const token = "{{token}}";

        async function fetchData() {
            const response = await fetch("/reset_account_new_password_post", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    password: await Encrypt(password),
                    token: await Encrypt(token)
                })
            })
                .then(response => {
                    // レスポンスを処理する
                    alert("パスワード変更が終了しました、ログインページに移動します。")
                    window.location.href = '/account';
                })
                .catch(error => {
                    // エラーを処理する
                });
        }

        await fetchData()
    }

</script>

<!-- bodyタグに書く内容を書きなさい -->
{% endblock %}